</div>

<footer class="bg-secondary m-0 p-5">
    <div class="container">
        <p>This web-based app is using <a href="https://www.coinapi.io/">CoinAPI</a> to provide crypto currency
            conversion services.</p>
        <p><i class="fas fa-balance-scale"></i> Hasan Alkhatib - <a
                href="https://opensource.org/licenses/MIT">MIT License</a>
        </p>
    </div>
</footer>
<script src="/js/jquery-3.3.1.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>

</html>
