
name: GCP CI

on:
  push:
    branches: '**'
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Java 11
        uses: actions/setup-java@v1
        with:
          java-version: '11.0.x'
          java-package: jdk
          architecture: x64

      - name: exporting env
        run: |
          $(java -version) >> MV_VER
          echo "${{env.MV_VER}}"
          echo $MV_VER
          echo 'done'

      #- name: Initialize gcloud
      #  uses: actions-hub/gcloud@master
      #  env:
      #    PROJECT_ID: crypto-convert-app
      #    APPLICATION_CREDENTIALS: ${{secrets.GCLOUD_AUTH}}
      #    cli: gcloud
      #  with:
      #    args: app deploy target/cryptoConv-0.0.1-SNAPSHOT.jar
