
name: GCP CI

on:
  push:
    branches: '**'
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2


      - name: exporting env
        run: |
          echo mvn version >> MV_VER
          echo ${{env.MV_VER}}

      #- name: Initialize gcloud
      #  uses: actions-hub/gcloud@master
      #  env:
      #    PROJECT_ID: crypto-convert-app
      #    APPLICATION_CREDENTIALS: ${{secrets.GCLOUD_AUTH}}
      #    cli: gcloud
      #  with:
      #    args: app deploy target/cryptoConv-0.0.1-SNAPSHOT.jar
